@*// ******************************************************************
// Copyright (c) Microsoft. All rights reserved.
// This code is licensed under the MIT License (MIT).
// THE CODE IS PROVIDED “AS IS”, WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED,
// INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
// FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT.
// IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM,
// DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT,
// TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH
// THE CODE OR THE USE OR OTHER DEALINGS IN THE CODE.
// *******************************************************************@

@model IEnumerable<Microsoft.Knowzy.Models.ViewModels.ReceivingsViewModel>

    @{
    ViewData["Title"] = "Receivings";
    }

    <div class="toolbar hidden-xs">
        <span class="section-title">@ViewData["Title"] Information</span>
        <button type="button" onclick="location.href = '@(Url.Action("Create", "Receivings"))'" class="btn btn-default button-default button-header">
            <span class="icon-add button-icon"></span><span>Add new order</span>
        </button>
    </div>

    <div class="row">
        <table class="table table-striped table-responsive main-grid">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Id)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CompanyName)
                    </th>
                    <th class="hidden-xs">
                        @Html.DisplayNameFor(model => model.Tracking)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Status)
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model) {
                    <tr onclick="location.href = '@(Url.Action("Details", "Receivings", new { orderId = item.Id }))'">
                        <td>
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CompanyName)
                        </td>
                        <td class="hidden-xs">
                            @Html.DisplayFor(modelItem => item.Tracking)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Status)
                        </td>
                    </tr>
        }
            </tbody>
        </table>
    </div>
